In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('sheet.csv')
df.loc[0]                 #gives 0th row values

Student id       1001.0
class              10.0
study hrs           2.0
sleeping hour       9.0
social media        3.0
mobile game         5.0
percentage         50.0
Name: 0, dtype: float64

In [3]:
df.loc[4]                             #gives nth  row

Student id       1005.0
class               NaN
study hrs           4.0
sleeping hour       7.0
social media        2.0
mobile game         0.0
percentage         75.0
Name: 4, dtype: float64

In [4]:
df.loc[[0,1,2]]                          #gives given index calues with all values

,Student id,class,study hrs,sleeping hour,social media,mobile game,percentage
0,1001.0,10.0,2,9,3,5.0,50
1,1002.0,10.0,6,8,2,0.0,80
2,1003.0,10.0,3,8,2,4.0,75

In [5]:
df.loc[4,'percentage']                   #gives ith index and given clm value

75

In [6]:
df.loc[0:3,'percentage']                 #gives slicing and clm name which output indexgiven row in clm name

0    50
1    80
2    75
3    45
Name: percentage, dtype: int64

In [7]:
df.iloc[0]                                   #return zero index value

Student id       1001.0
class              10.0
study hrs           2.0
sleeping hour       9.0
social media        3.0
mobile game         5.0
percentage         50.0
Name: 0, dtype: float64

In [8]:
df.iloc[:,0]                         #(row,clm) cant do label indexing

0    1001.0
1    1002.0
2    1003.0
3    1004.0
4    1005.0
5    1006.0
6    1007.0
7       NaN
8    1009.0
9    1010.0
Name: Student id, dtype: float64

In [9]:
df.iloc[[0,1]]                       #print given rows

,Student id,class,study hrs,sleeping hour,social media,mobile game,percentage
0,1001.0,10.0,2,9,3,5.0,50
1,1002.0,10.0,6,8,2,0.0,80